/* custom-font.css */
@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-Light.otf') format('opentype');
        /* Include other font formats if needed */
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-Medium.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-Semibold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-Heavy.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}




@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-LightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-RegularItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-MediumItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-SemiboldItalic.otf') format('opentype');
    src: url('/fonts/SFProText/SF-Pro-Text-SemiboldItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-HeavyItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}



/* custom-font.css */
@font-face {
    font-family: 'SFProText';
    src: url('http://localhost/projects/enboss.co/fonts/SFProText/SF-Pro-Text-Light.otf') format('opentype');
        /* Include other font formats if needed */
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('http://localhost/projects/enboss.co/fonts/SFProText/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('http://localhost/projects/enboss.co/fonts/SFProText/SF-Pro-Text-Medium.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('http://localhost/projects/enboss.co/fonts/SFProText/SF-Pro-Text-Semibold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('http://localhost/projects/enboss.co/fonts/SFProText/SF-Pro-Text-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('http://localhost/projects/enboss.co/fonts/SFProText/SF-Pro-Text-Heavy.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}




@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-LightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-RegularItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-MediumItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-SemiboldItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-BoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText/SF-Pro-Text-HeavyItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

