/* hebrew Choosing-the-perfect-rollerblading-wheels.css */
:root {
    --article-body: var(--white-600);
    --article-dark-back: var(--black-450);

    --article-link:var(--blue-500);
    --article-link-hover:var(--blue-500);

    --article-text: var(--black-700);
    --article-h1: var(--blue-300);
    --title-hr: var(--orange-500);
    --article-h2: var(--blue-400);
    --article-h3: var(--blue-400);
    --strong-subs: var(--blue-200);
    --article-hr: var(--orange-500);
 }


 body {
    background-color: var(--article-body);
    background-repeat: repeat;
    background-size: 17.5%;  
  background-image: url('/svg/EnbossWallpaper0.075.png');
    background-attachment: fixed;
       transition: all .3s ease-in-out;
  }
  
  body.dark {
  background-color: var(--article-dark-back);     
    background-image: url('/svg/EnbossWallpaperLight.1.png');
  
  }
  
  @media only screen and (max-width: 1440px){
  body.dark, body {
    background-size: 25%;  
  }
  }
  
  @media only screen and (max-width: 1024px){
  body.dark, body {
    background-size: 35%;  
  }
  }
  
  @media only screen and (max-width: 768px){
  body.dark, body {
    background-size: 45%;  
  }
  }
  
  @media only screen and (max-width: 480px){
  body.dark, body {
    background-size: 60%;  
  }
  }

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


.article-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    direction: rtl;
    backdrop-filter:blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

.articleLinks{
    color: var(--article-link);
    font-weight: 500;
}

.articleLinks:hover {
    color: var(--articel-link-hover);
}

.article {
    font-family: 'Noto Sans Hebrew',sans-serif ;
    font-weight: 400;
    color: var(--article-text);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    padding: 0 20px;
}

.article h1 {
    align-self: center; /* Center horizontally within the .article container */
    font-family: 'Open Sans',sans-serif ;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.2;
    color: var(--article-h1);
    word-wrap: break-word;
}

.titleHr {
    margin: 10px auto 20px;
    border: 1px solid  var(--title-hr);
    width: 95%;
    padding: 0 20px;
  }

.article h2 {
    font-family: 'Open Sans',sans-serif ;
    color: var(--article-h2);
    font-weight: 700;
    font-size: 2.125rem;
    margin: 30px 0 5px;
    line-height: 1.2;
}

.article h3 {
    font-family: 'Open Sans',sans-serif ;
    color: var(--article-h3);
    font-weight: 700;
    font-size: 1.75rem;
    margin: 30px 0 5px;
    line-height: 1.2;
}


.article p {
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 400;
}

.article ul{
    margin-right: 15px;    
    line-height: 1.25;
    font-size: 1.125rem;
}

.strongSubs {
    color: var(--strong-subs);
    font-weight: 600;
}

.article ul li{
    margin: 15px 0;
}

.article ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-right: -1em;
}

.article img {
    margin: 10px 0 20px;
    padding: 0 20px;
}

/* Dynamic SVG Modes */

.dynamic-size {
    content: url("/images/SVG/WheelSizeBlue-he.svg"); 
}
.dark .dynamic-size {
    content: url("/images/SVG/WheelSizeAmber-he.svg"); 
}


.dynamic-hardness {
    content: url("/images/SVG/hardnessBlue-he.svg"); 
}
.dark .dynamic-hardness {
    content: url("/images/SVG/hardnessAmber-he.svg"); 
}


.dynamic-profile {
    content: url("/images/SVG/profileBlue-he.svg"); 
}
.dark .dynamic-profile {
    content: url("/images/SVG/profileAmber-he.svg"); 
}


.dynamic-hub {
    content: url("/images/SVG/hubBlue-he.svg"); 
}
.dark .dynamic-hub {
    content: url("/images/SVG/hubAmber-he.svg"); 
}

hr {
    margin: 50px auto 0;
    border: 1px solid  var(--article-hr);
    width: 100%;
    padding: 0 20px;
  }


  /* Media Queries */
  
  @media only screen and ( max-width: 767px ){
    .article-container {
        padding: 60px 0;
    }
}

  @media only screen and ( max-width: 480px ){
    .article-container {
        padding: 50px 0;
    }
    
    .article h1 {
        font-size: 1.75rem;
        line-height: 1.2;
    }
    
    .titleHr {
        width: 100%;
      }
   
    .article h2 {
        font-size: 1.375rem;
        margin: 30px 0 5px;
        line-height: 1.2;
    }  

    .article h3 {
        font-size: 1.25rem;
        margin: 30px 0 5px;
        line-height: 1.2;
    }
    
    
    .article p {
        font-size: 1.125rem;
        line-height: 1.25;
        font-weight: 400;
    }
    
    .article ul{
        margin-left: 15px;    
        line-height: 1.25;
        font-size: 1rem;
    }
    
    .article ul strong {
        font-weight: 500;
    }
    .article ul li{
        margin: 15px 0;
    }
    
    .article img {
        margin: 10px 0 20px;
        padding: 0 20px;
    }
    
    
    hr {
        margin: 50px auto 0;
        border: 1px solid  var(--amber);
        width: 100%;
        padding: 0 20px;
      }
    }

    
@media (max-width: 652px) {
    .article h1 {
        width: 500px; /* Allow HEADER text to wrap onto multiple lines */
        line-height: 2.35rem;
    }
}
@media (max-width: 480px) {
    .article h1 {
        width: 350px; /* Allow HEADER text to wrap onto multiple lines */
        line-height: 1.65rem;
    }
}

@media (max-width: 350px) {
    .article h1 {
        width: 275px; /* Allow HEADER text to wrap onto multiple lines */
        line-height: 2rem;
    }
}
