RewriteEngine On

# Default Directory Page
DirectoryIndex index-he.php
RewriteBase /PHP/

# RewriteRule ^(?!.*\bHTML\b)(.*-en)$ /PHP/$1.php [L]

# RewriteRule ^(?!.*\bHTML\b)(.*-he)$ /PHP/$1.php [L]

RewriteRule ^$ /PHP/he/index-he.php [NC,L]
RewriteRule ^he$ /PHP/he/index-he.php [NC,L]
RewriteRule ^he/$ /PHP/he/index-he.php [NC,L]
RewriteRule ^he/about$ /PHP/he/about.php [NC,L]
RewriteRule ^he/info-zone$ /PHP/he/infoZone-he.php [NC,L]

RewriteRule ^he/skateparks$ /PHP/he/skateparks-he.php [NC,L]
RewriteRule ^he/contact$ /PHP/he/contact-he.php [NC,L]

RewriteRule ^en#$ /PHP/he/index-he.php [NC,L]


RewriteRule ^en$ /PHP/en/index-en.php [NC,L]
RewriteRule ^en/$ /PHP/en/index-en.php [NC,L]
RewriteRule ^en/about$ /PHP/en/about.php [NC,L]
RewriteRule ^en/info-zone$ /PHP/en/infoZone-en.php [NC,L]

RewriteRule ^en/skateparks$ /PHP/en/skateparks-en.php [NC,L]
RewriteRule ^en/contact$ /PHP/en/contact-en.php [NC,L]


# Check for erros pages - Developers only
# RewriteRule ^errors/(.*)$ /errors/$1-en.php [NC,L]


# Direct anything after ...parks/ to ...parks/....php >>
RewriteRule ^en/skateparks/(.*)$ /PHP/en/EnglishParks/$1.php [NC,L]
RewriteRule ^he/skateparks/(.*)$ /PHP/he/HebrewParks/$1.php [NC,L]

# Direct anything after ...info-zone/ to ...info-zone/....php >>
RewriteRule ^en/info-zone/(.*)$ /PHP/en/EnglishZone/$1.php [NC,L]
RewriteRule ^he/info-zone/(.*)$ /PHP/he/HebrewZone/$1.php [NC,L]


ErrorDocument 404 https://enboss.co/errors/404-en.php
ErrorDocument 403 https://enboss.co/errors/403-en.php
ErrorDocument 500 https://enboss.co/errors/500-en.php


# RewriteRule ^en/skateparks/kiryat-ata$ /PHP/en/EnglishParks/kiryat-ata.php [L]

# Error Pages

# RewriteCond %{HTTP_HOST} ^eylamz.sg-host.com$ [NC,OR]
# RewriteCond %{HTTP_HOST} ^www.eylamz.sg-host.com$
# RewriteCond %{REQUEST_URI} !HTML/
# RewriteRule (.*) /PHP/$1 [L]

#Set timezone
# SetEnb TZ Israel



#400 - Bad Request
#401 - Authorization Required
#403 - Forbidden
#404 - Not Found
#500 - Internal Server Error
#503 - Service Unavailable
#504 - Gateway Timeout




# RewriteEngine on 
# DirectoryIndex index-he.php
# RewriteBase /PHP/

# RewriteRule ^(?!.*\bHTML\b)(.*-en)$ /PHP/$1.php [L]
# RewriteRule ^(?!.*\bHTML\b)(.*-he)$ /PHP/$1.php [# 
# RewriteRule ^he$ /PHP/he/index-he.php [L]
# RewriteRule ^en/skateparks$ /PHP/en/skateparks-en.php [L]


# RewriteRule ^he$ /PHP/index-he.php [L]
# ErrorDocument 404 /PHP/not-found-page.php
# ...com/he  --- html/he/index.php


 # /en/skateparks - /PHP/en/skateparks.php  