/* Choosing-the-perfect-rollerblading-wheels.css */
:root {
    --article-body: var(--white-600);
    --article-dark-back: var(--black-450);

    --article-link:var(--blue-500);
    --article-link-hover:var(--blue-500);

    --article-text: var(--black-700);
    --article-h1: var(--blue-300);
    --title-hr: var(--orange-500);
    --article-h2: var(--blue-400);
    --article-h3: var(--blue-400);
    --strong-subs: var(--blue-200);
    --article-hr: var(--orange-500);
 }


 body {
    background-color: var(--article-body);
    background-repeat: repeat;
    background-size: 17.5%;  
  background-image: url('/svg/EnbossWallpaper0.075.png');
    background-attachment: fixed;
       transition: all .3s ease-in-out;
  }
  
  body.dark {
  background-color: var(--article-dark-back);     
    background-image: url('/svg/EnbossWallpaperLight.1.png');
  
  }
  
  @media only screen and (max-width: 1440px){
  body.dark, body {
    background-size: 25%;  
  }
  }
  
  @media only screen and (max-width: 1024px){
  body.dark, body {
    background-size: 35%;  
  }
  }
  
  @media only screen and (max-width: 768px){
  body.dark, body {
    background-size: 45%;  
  }
  }
  
  @media only screen and (max-width: 480px){
  body.dark, body {
    background-size: 60%;  
  }
  }

.articleLinks{
    color: var(--article-link);
    font-weight: 500;
    transition: color 0.15s ease-in-out;
}

.articleLinks:hover {
    color: var(--articel-link-hover);
}


.article-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    backdrop-filter:blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}



.article {
    font-family: 'Poppins',sans-serif;
    color: var(--article-text);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    padding: 0 20px;
}

.article h1 {
    align-self: center; /* Center horizontally within the .article container */
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.2;
    color: var(--article-h1);
    word-wrap: break-word;
}





.titleHr {
    margin: 10px auto 20px;
    border: 1px solid  var(--title-hr);
    width: 75%;
    padding: 0 20px;
  }

.article h2 {
    color: var(--article-h2);
    font-weight: 600;
    font-size: 2.125rem;
    margin: 30px 0 5px;
    line-height: 1.2;
}

.article h3 {
    color: var(--article-h3);
    font-weight: 600;
    font-size: 1.75rem;
    margin: 30px 0 5px;
    line-height: 1.2;
}

.article p {
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 400;
}

.article ul{
    margin-left: 15px;    
    line-height: 1.25;
    font-size: 1.125rem;
}

.strongSubs {
    color: var(--strong-subs);
    font-weight: 500;
}

.article ul li{
    margin: 15px 0;
}

.article ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.article img {
    margin: 10px 0 20px;
    padding: 0 20px;
}

/* Dynamic SVG Modes */

.dynamic-flat {
    content: url("/images/SVG/flatBlue.svg"); 
}
.dark .dynamic-flat {
    content: url("/images/SVG/flatAmber.svg"); 
}


.dynamic-plastic {
    content: url("/images/SVG/plasticAntiBlue.svg"); 
}
.dark .dynamic-plastic {
    content: url("/images/SVG/plasticAntiAmber.svg");
}


.dynamic-anti {
    content: url("/images/SVG/antiBlue.svg"); 
}
.dark .dynamic-anti {
    content: url("/images/SVG/antiAmber.svg"); 
}


.dynamic-hub {
    content: url("/images/SVG/hub.svg"); 
}
.dark .dynamic-hub {
    content: url("/images/SVG/hubAmber.svg");
}

hr {
    margin: 50px auto 0;
    border: 1px solid  var(--article-hr);
    width: 100%;
    padding: 0 20px;
  }


  /* Media Queries */

  @media only screen and ( max-width: 480px ){
    .article-container {
        padding: 120px 0;
    }
    
    .article h1 {
        font-size: 1.75rem;
        line-height: 1.2;
    }
    
    .titleHr {
        width: 100%;
      }

    .article h2 {
        font-size: 1.375rem;
        margin: 30px 0 5px;
        line-height: 1.2;
    }
    
    .article h3 {
        font-size: 1.25rem;
        margin: 30px 0 5px;
        line-height: 1.2;
    }

    
    .article p {
        font-size: 1.125rem;
        line-height: 1.25;
        font-weight: 400;
    }
    
    .article ul{
        margin-left: 15px;    
        line-height: 1.25;
        font-size: 1rem;
    }
    
    .article ul strong {
        font-weight: 500;
    }
    .article ul li{
        margin: 15px 0;
    }
    
    .article img {
        margin: 10px 0 20px;
        padding: 0 20px;
    }

    }

@media (max-width: 567px) {
    .article h1 {
        width: 340px; /* Allow HEADER text to wrap onto multiple lines */
    }
}

@media (max-width: 480px) {
    .article h1 {
        width: 200px; /* Allow HEADER text to wrap onto multiple lines */
    }
}