
body {
    background: var(--white-500);
    margin: 0px;
    transition: 0.2s ease-in-out;
}

body.dark {
    background-color: var(--black-300);
}

.articleLinks{
    color: var(--blue-500);
    font-weight: 500;
    transition: color 0.15s ease-in-out;
}

.articleLinks:hover {
    color: var(--blue-700);
}


.article-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}



.article {
    font-family: 'Poppins',sans-serif;
    color: var(--black-700);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    padding: 0 20px;
}

.article h1 {
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.2;
    color: var(--blue-300);
}

.titleHr {
    margin: 10px auto 20px;
    border: 1px solid  var(--orange-500);
    width: 75%;
    padding: 0 20px;
  }

.article h2 {
    color: var(--blue-400);
    font-weight: 600;
    font-size: 2.125rem;
    margin: 30px 0 5px;
    line-height: 1.2;
}

.article h3 {
    color: var(--blue-400);
    font-weight: 600;
    font-size: 1.75rem;
    margin: 30px 0 5px;
    line-height: 1.2;
}

.article p {
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 400;
}

.article ul{
    margin-left: 15px;    
    line-height: 1.25;
    font-size: 1.125rem;
}

.strongSubs {
    color: var(--blue-200);
    font-weight: 500;
}

.article ul li{
    margin: 15px 0;
}

.article ul li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.article img {
    margin: 10px 0 20px;
    padding: 0 20px;
}

/* Dynamic SVG Modes */

.dynamic-flat {
    content: url("/images/SVG/flatBlue.svg"); 
}
.dark .dynamic-flat {
    content: url("/images/SVG/flatAmber.svg"); 
}


.dynamic-plastic {
    content: url("/images/SVG/plasticAntiBlue.svg"); 
}
.dark .dynamic-plastic {
    content: url("/images/SVG/plasticAntiAmber.svg");
}


.dynamic-anti {
    content: url("/images/SVG/antiBlue.svg"); 
}
.dark .dynamic-anti {
    content: url("/images/SVG/antiAmber.svg"); 
}


.dynamic-hub {
    content: url("/images/SVG/hub.svg"); 
}
.dark .dynamic-hub {
    content: url("/images/SVG/hubAmber.svg");
}

hr {
    margin: 50px auto 0;
    border: 1px solid  var(--orange-500);
    width: 100%;
    padding: 0 20px;
  }


  /* Media Queries */

  @media only screen and ( max-width: 480px ){
    .article-container {
        padding: 120px 0;
    }
    
    .article h1 {
        font-size: 1.75rem;
        line-height: 1.2;
    }
    
    .titleHr {
        width: 100%;
      }

    .article h2 {
        font-size: 1.375rem;
        margin: 30px 0 5px;
        line-height: 1.2;
    }
    
    .article h3 {
        font-size: 1.25rem;
        margin: 30px 0 5px;
        line-height: 1.2;
    }

    
    .article p {
        font-size: 1.125rem;
        line-height: 1.25;
        font-weight: 400;
    }
    
    .article ul{
        margin-left: 15px;    
        line-height: 1.25;
        font-size: 1rem;
    }
    
    .article ul strong {
        font-weight: 500;
    }
    .article ul li{
        margin: 15px 0;
    }
    
    .article img {
        margin: 10px 0 20px;
        padding: 0 20px;
    }
    
    
    hr {
        margin: 50px auto 0;
        border: 1px solid  var(--orange-500);
        width: 100%;
        padding: 0 20px;
      }
    }


