
body {
  background: rgb(51,87,153);
  background: radial-gradient(circle, rgba(51,87,153,1) 56%, rgba(28,48,84,1) 100%);
      overflow: hidden;
}
.div404 svg {
  height: 100vh;
  width:100vw;
  margin-top: -20vh;

}

@media only screen and (max-width: 800px) {
    .div404 svg {
        height: 100vh;
        width:100vw;
        margin-top: -20vh;
   }
   
   }
   @media only screen and (max-width: 600px) {
       .div404 svg {
        height: 100vh;
        width:100vw;
        margin-top: -25vh;
        margin-bottom: -20vh;
       }
      }

      
      .homeBtn {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: linear 0.4s;

      }
      
      .Btn {
        width: 100%;
        height: 100%;
        max-width: 200px;
        min-height: 50px;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        font-weight: 700;
        color: var(--anti-white);
        background: var(--blue);
        border-radius: 1000px;
        padding: 10px 50px;
        }

      
      .Btn:hover{
        background: var(--light-blue);
        transition: linear 0.4s;
  
      }
      
.Btn {
    animation: bounce 3s ease infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-20px);}
      60% {transform: translateY(-10px);}
  }
      
  .st1, .st3, .st4, .st5, .st6, .st7{
    animation: bounce-in-down 2s ease;
  }
  @keyframes bounce-in-down {
    0% {
      opacity: 0;
      transform: translateY(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateY(30px);
    }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  .st2 {
    animation: bounce-in-right 2s ease;
  }

  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    70% {
      opacity: 1;
      transform: translateX(-20px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }

  .st22 {
    animation: bounce-in-left 3s ease;
  }

  @keyframes bounce-in-left {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    30% {
      opacity: 1;
      transform: translateX(20px);
    }
    80% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }