/* English dark.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --shadow-bottom: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-top: -10px -150px 60px 0px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --text-shadow: 0px 0px 13px rgba(0,0,0,0.3);
  --svg-black-shadow: drop-shadow(0px 0px 8px rgb(0 0 0 / 0.25));
  --svg-white-shadow: drop-shadow(0px 0px 5px rgb(255 255 255 / 0.2));
  --img-shadow-white: 0px 0px 14px 3px rgba(255,255,255,0.15);
  --img-shadow: 0px 0px 14px 3px rgba(0,0,0,0.15);


  --white: #fff;
  --img-back: #eaeaea;
  --text: #a5a5a7;
  --text-dark: #545459;
  --text-light: #bfbfc0;

  --dark-blue: hsl(219, 50%, 15%);
  --blue: hsl(219, 50%, 22%);
  --light-blue: hsla(219, 50%, 40%, 1);
  --lighter-blue: hsla(219, 50%, 95%, 1);
  --anti-white: hsl(210, 15%, 95%);

  --anti-text:hsl(210, 15%, 95%);
  --anti-text-2:hsl(210, 15%, 95%);
  
  --anti-grey: hsla(210, 14%, 90%, 1);
  --dark-grey: hsla(210, 14%, 85%, 1);
  --darker-grey: hsl(210, 0%, 35%);

  --zomp: hsla(168, 58%, 41%, 1);
  --light-munsell: hsla(192, 73%,46%,1);
  --munsell: hsla(192, 73%, 36%,1);
  --dark-munsell: hsla(192, 73%, 26%,1);
  --light-amber: hsl(45, 100%, 60%);
  --amber: hsl(45, 100%, 50%);
  --light-conq: hsl(13, 90%, 61%);
  --dark-conq: hsl(13, 90%, 41%);
  --conq: hsl(13, 90%, 51%); 
  --dark-sham: hsl(140, 33%, 36%);
  --sham: hsl(140, 33%, 46%);
  --light-sham: hsl(140, 33%, 56%);
          /*   g#7DDF64    */


          --body-dark: #1a1a1a;
          --ne-logo: #D9E1F2;
          --ne-grey: #202124;
          --ne-anti: hsl(200, 12%, 95%);
          --anti-white: hsl(210, 15%, 95%);
          --ne-blue: #0C1017;
          --ne-light-blue : hsl(219 60% 50%);
          --ne-lighter-blue : hsl(219 60% 60%);
          --ne-dark-anti: #9AA0A6;
          --ne-light-grey: hsl(228 3% 22% / 1);
          --ne-light-anti: #BDC1C6;
          --ne-sec-text: #cacaca;
          --ne-amber: hsl(45 100% 48% / 1);
          --ne-amber-act: hsla(45, 100%, 50%, 1);
          --ne-conq: hsl(13 76% 52% / 1);
          --ne-light-conq: hsl(13, 84%, 53%);
          --gold: #d7c179;
          --gold-hover: #e9cb67;
}





.dark .navi {/*dark header*/
  background: hsla(0, 0%, 13%, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.dark .menu.is-active {
background: var(--black-450);
}

.dark .brand {
fill: var(--white-400);

}

.dark .brand:hover{
fill: white;
}

.dark .menu-link {
color: var(--white-400);
}

.dark .menu-link:hover{
color: white;
}

.dark .menu-block {
  fill: var(--white-400);
}

.dark .dark .menu-block:hover{
fill: white;
}

.dark .menu-item:hover{
  color: white;
}

.dark .is-active.menu-item:hover{
  color: white;
}

.dark .search-icon svg {
  fill: var(--white-400);
}

.dark .search-icon svg:hover {
  fill: white;
}

.dark .burger-line {
  background-color: var(--white-400);
}
  
.dark .burger.is-active > .burger-line:nth-child(1) {
  background-color: var(--white-400);
}
  
.dark .burger.is-active > .burger-line:nth-child(3) {
  background-color: var(--white-400);
}
.dark #my-svg {
  stroke: var(--white-400);
}

.dark #my-svg:hover {
  stroke: white;
}

.dark #my-svg:hover[class="disable"]
line.handle {
  stroke: white !important;
}

.dark #my-svg[class="disable"]
line.handle {
  stroke: var(--white-400) !important;
}

.dark #my-svg-he:hover[class="disable"]
line.handle {
  stroke: white !important;
}

.dark #my-svg-he[class="disable"]

line.handle {
  stroke: var(--white-400) !important;
}


.dark .back-Icon1 {
  fill: hsla(221, 49%, 90%, .2);
}

.dark .front-Icon1 {
  fill: hsla(221, 49%, 90%, .7);
}

.dark #my-svg.clicked .glass { 
  animation-name: zoom-out;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out
}

.dark #my-svg.clicked .handle { 
  animation-name: move-up;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
}


.dark #my-svg.clicked .handle3 {
  animation-name: move-spin;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
}

@keyframes zoom-outDark {
0% {
  transform: scale(1);
}

100% {
  stroke-width: 1.5px;
  transform: scale(1.125);
  stroke: white;
}
}

@keyframes move-up {
  0% {
    transform: translate(0, 0) rotate(0deg);
    troke-width:2.1px;
    transform: scale(1);
  }
  50% {
    transform: scale(1);
    stroke-width:1.8px;

  }
  100% {
    transform-origin: 165% 165%;
    transform: translate(-37%, -37%);
    stroke-width:1.1px;
    transform: scale(1.4);
    stroke: white;
  }
}

@keyframes move-spin {
  0% {
    transform-origin: 100% 100%;
    transform: translate(-50%, 50%);
    stroke: var(--white-400);
    opacity: 0;
  }

  80% {
    opacity: 0;
    transform: translate(-20%, 20%);

  }
  100% {
    stroke: white;
    transform: translate(0, 0);
    opacity: 1;
  }
}







/* PARKS DARK CSS */

.dark .park-container {
  color: var(--white-600);
}
.dark .park-container .park-menu .btn {
color: var(--white-200);
background-color: var(--black-600);
}

.dark .park-container .park-menu .btn:hover {
  background-color: var(--blue-400);
  color: var(--white-300);
}

.dark .park-container .park-menu .btn.active {
background-color: var(--blue-700);
color: var(--white-500);
}
.dark .itemImg {
background-color: var(--black-450)!important;
}

.dark .park-container .items .item img {
  color: var(--white-200);
}

.dark .gallery-text h2{
color: var(--white-500);
}

/*SEARCH BAR DARK CSS */

.dark .search-box {
  background: hsla(0, 0%, 13%, 1);
}

.dark .searchRow input {
  color: var(--white-600);
  background: var(--black-600);}

  .dark .result-box ul {
  background: hsla(0, 0%, 13%, 1);
}

.dark .result-box ul li {
color: var(--white-400);
}

.dark .result-box ul li:hover {
color: white;
}




/* ABOUT DARK CSS */

.dark .about-container {
background-color: transparent;
}

.dark .about {
color: var(--ne-logo);
}

.dark .about svg{
  fill: var(--orange-600);
}

.dark .about h2 {
  color: var(--cyan-700);
}

.dark .about h1 {
  color: var(--cyan-600);
}

.dark .about h3 {
  color: var(--cyan-700);
}

.dark .about h4 {
  color: var(--orange-600);
}

.dark .about p {
  color: var(--white-200);
}

.dark .social button {
  background: var(--blue-600);
  color: var(--white-300);
}

.dark .social button:hover {
  background: var(--blue-700);
  color: var(--white-300);
}


/* CONTACT DARK CSS */


.dark .container-con svg{fill: var(--orange-600);}

.dark .container-con h3 {color: var(--white-300);}

.dark .container-con p {color: var(--white-300);}

.dark .container-con p a {color: var(--white-400);}

.dark .container-con p a:hover {color: var(--white-500);}

.dark .contact-page form input, .dark form textarea {background: var(--black-600);color: var(--white-500);}

.dark .contact-page input{
  background: var(--black-600);
  color: var(--white-500);
}

.dark .contact-page form ::placeholder {
color: var(--white-200);
} 

.dark .contact-page form:focus ::placeholder {
color: var(--white-400);
}

.dark .contact-page button {
  background: var(--blue-500);
  color: var(--white-300);}

.dark .contact-page button:hover {background: var(--blue-600);color: var(--white-300);}



/* ERRORS DARK CSS */




/* HOME DARK CSS */

.dark #firstCon {
    background-color: var(--black-450);
    background-image: url('/svg/EnbossWallpaperLight.075.png');
  }
  .dark .topEnboss {fill: var(--blue-500);}

.dark #line1 {
border-color: var(--orange-600);
}

.dark .heading{
color: var(--white-400);
}

.dark .para {
color: var(--white-400);
}

.dark .firstBtn {color: var(--black-300);background-color: var(--orange-600);}

.dark .firstBtn:hover {
  background-color: var(--orange-500);
}

.dark .image-scroll {background-color: var(--black-450);}

.dark .newParks-div {
  background-color: var(--black-450);
}

.dark .newParksTitle {
color: var(--white-400);
}

.dark .viewMore {color: var(--black-200);background-color: var(--blue-500);}

.dark .viewMore:hover {
  background-color: var(--blue-600);
}


.dark #secondCon {
  background-color: var(--black-450);
  }



  .dark #heading2 {
  color: var(--cyan-600);
}

.dark #line2 {
  border-color: var(--orange-600);
}

.dark #weInvite {
  color: var(--white-400);
}

.dark .pageContainer {/* thirdCon */
  background-color: var(--black-450);
}

.dark #headCount {
  color: var(--orange-600);
  }

  .dark #heading3 {
  color: var(--orange-600);
}

.dark #thisIs {
  color: var(--white-400);
}

.dark #doYou {
color: var(--white-400);
}

.dark .contact button {color: var(--black-200);background-color: var(--blue-500);}

.dark .contact button:hover {
  background-color: var(--blue-600);
}







.dark .footer-main {  /* FOOTER DARK CSS */
  background: hsla(0, 0%, 13%, .1);-webkit-backdrop-filter: blur(15px);backdrop-filter: blur(3px);}

  .dark #enbossLogo {fill: var(--blue-600);}

  .dark .logo #enbossLogo:hover{
    fill: var(--blue-700);
    transition: fill .15s ease-in-out;
  }

.dark .logo-des {
  color: var(--white-400);
}

.dark .logo a {
  color: var(--white-400);
}

.dark .logo a:hover {
  color: white;
}

.dark .back-Icon {
  fill: hsla(206, 43%, 74%, .1);
}
.dark .front-Icon {
fill: var(--cyan-600);}

.dark #orange-social {
  fill: var(--orange-600);
}
.dark .back-Icon:hover {
fill: hsla(206, 43%, 74%, .15);
}
.dark .front-Icon:hover {
fill: hsla(206, 43%, 74%, .8);
}

.dark .row h3 {
color: var(--white-300);
}

.dark .main-foot h3:hover {
color: white;
}

.dark .footer-header{
color: var(--white-400);
}

.dark .skateparks-des a{
color: var(--white-400);
}

.dark .skateparks-des a:hover{
  color: var(--white-300);
}

.dark #link-all {
  color: var(--white-300);
}

.dark ::-webkit-scrollbar-track {
  background: #333;
 }

 .dark ::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0.75 ;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 0%);
}





/* Anti or Flat DARK CSS - - - infoZone Dark CSS*/


.dark .articleLinks{
  color: var(--orange-600);
}

.dark .articleLinks:hover {
  color: var(--orange-700);
}

.dark .article {
  color: var(--white-300);
}

.dark .article h1{
  color: var(--cyan-500);
}

.dark .titleHr {
  border-color: var(--orange-600);
  opacity: 0.5;
}

.dark .article h2 {
  color: var(--cyan-700);
}

.dark .article h3 {
  color: var(--cyan-700);
}

.dark .strongSubs {
  color: var(--cyan-400);
}

.dark .secHr {
  border-color: var(--orange-600);
  opacity: 0.5;
}






