body {
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  background-color: var(--white-600);
}

.dark .body-move {
  background-color: var(--black-400);
}


/* first and second Container CSS */
.pageContainer {
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--white-400);
    transition: background-color 0.2s ease-in-out;
  }

  
  #firstCon {
        width: 100%;    
        margin-top:-100px;
        padding-top: 100px;
        background-color: var(--white-400);
        position: relative;
        background-repeat: repeat;
        background-size: 17.5%;  
        background-image: url('/svg/EnbossWallpaper0.075.png');
        background-attachment: fixed;
        transition: background-color 0.2s ease-in-out;
  }
  
    .dark#firstCon {
      background-color: var(--black-300);
      background-image: url('/svg/EnbossWallpaperLight0.075.png');
    
    }
    
    @media only screen and (max-width: 1440px){
      .dark#firstCon, #firstCon{
        background-size: 25%;  
      }
    }
    
    @media only screen and (max-width: 1024px){
      .dark#firstCon, #firstCon{
        background-size: 35%;  
      }
    }
    
    @media only screen and (max-width: 768px){
      .dark#firstCon, #firstCon{
        background-size: 45%;  
      }
    }
    
    @media only screen and (max-width: 480px){
      .dark#firstCon, #firstCon{
        background-size: 75%;  
      }
    }


  #secondCon {
    background-color: var(--white-400);
    width: 100%;
    transition: background-color 0.2s ease-in-out;
    margin: 10px 0;
  }


  .top-container {
    font-family: "Poppins", Sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 730px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  
  #contain2 {
    width: 100%;
    max-width: 681px;
    height: 500px;
    transition: background-color 0.2s ease-in-out;
  }

  #contain3 {
    width: 100%;
    max-width: 635px;
    height: 450px;
    transition: background-color 0.2s ease-in-out;
  }

  .topEnboss {
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
    fill: var(--blue-400);
  }

  .topEnboss {
    animation: bounce 0.5s ease;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0) scale(0.25);
      opacity: 0; 
    }
    50% {
      transform: translateY(-20px);
      }
    100% { 
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }


  

  .heading {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: var(--orange-500);
    word-spacing: 0.1em;
    letter-spacing: 1px;
    transition: color .3s ease-in-out;

  }



  #heading1 {
      opacity: 0;
      animation-name: fade-in-up;
      animation-duration: .8s;
      animation-delay: 0.35s; 
      animation-fill-mode: forwards;
    }

    .firstBtn {
      font-size: 1.25rem;
      font-weight: 800;
      color: var(--white-400);
      background-color: var(--blue-400);
      border-radius: 30px;
      padding: 10px 40px;
      margin-top: 25px;
      opacity: 0;
      animation-name: fade-in-up;
      animation-duration: .6s;
      animation-delay: .65s;
      animation-fill-mode: forwards;
      transition: background-color .2s ease-in-out;
    }
    .firstBtn:hover {
      background-color: var(--blue-500);
    }

  #atEnboss {
    opacity: 0;
    animation-name: fade-in-up;
    animation-duration: .8s;
    animation-delay: .5s; 
    animation-fill-mode: forwards;
  }
   #line1 {
    opacity: 0;
    animation-name: line-fade-in-up;
    animation-duration: .8s;
    animation-delay: .4s; 
    animation-fill-mode: forwards;

   }

   @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
   @keyframes line-fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
      width: 0; /* increase width to 50% at 50% */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      width: 150px; /* increase width to 50% at 50% */
    }
  }
  

  #heading2 {
    font-size: 3rem;
    color: var(--blue-400);
    line-height: 3.1rem;
  }

  #headCount {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
  }

  #heading3 {
    letter-spacing: 0.1rem;
    font-weight: 900;
    color: var(--orange-500);
  }
  
  #heading3.animate {
    animation: zoom-in 0.3s ease-out 0.3s forwards;
  }
  
  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(0.75);
    }
    70% {
      transform: scale(1.15);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  
  
  
  
  
  

  .top-line {
    margin: 15px 0;
    border: 1px solid var(--orange-600);
    border-radius: 5px;
    width: 100%;
    max-width: 150px;
  }

  #line2 {
    border-color: var(--cyan-500);
  }

  .para {
    color: var(--blue-200);
    font-size: 1.375rem;
    font-weight: 400;
    word-spacing: 0rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }

  #weInvite {
    color: var(--blue-200);
  }

  #thisIs {
    margin-top: 10px;
  }

  #doYou {
    margin-top: 5px;
  }
  .contact {
    margin-top: 20px;
  }
  .contact button {
    color: var(--white-400);
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    background-color: var(--blue-400);
    border-radius: 36px;
    padding: 7px 20px;
    font-weight: 500;
    transition: background-color 0.15s ease-in-out;
  }
  
  .contact button:hover {
    background-color: var(--blue-600);
  }

  .newParks-div {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.375rem;
    padding-top: 30px;
    background-color: var(--white-300);
    transition: background-color 0.2s ease-in-out;
  }
  
  .newParks {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  .newParksTitle {
    color: var(--blue-200);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
  }
  
  .viewMore {
    margin: 0;
    text-align: right;
    cursor: pointer;
    color: var(--white-300);
    background-color: var(--blue-400);
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 1.25rem;
    font-weight:700;
  }
  
  .viewMore:hover {
    background-color: var(--blue-500);
  }



   /*     First Container Media Queries      */
   @media only screen and (max-width: 1440px) {
    .top-container {
      height: 700px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .top-container {
    width: 500px;
    height: 550px;
   }
   #contain2 {
    width: 520px;
    height: 370px;
  }
  
  #contain3 {
    width: 520px;
    height: 370px;
  }

   .topEnboss {
    width: 375px;
    margin-bottom: 30px;
  }

  .heading {
    font-weight: 900;
    font-size: 3.7rem;
    line-height: 3.3rem;
  }


  #heading2 {
    font-size: 3.1rem;
    line-height: 2.8rem;

  }
  
  #headCount {
    font-size: 4.5rem;
    margin-bottom: 2px;
  }

  #heading3 {
    font-size: 3.6rem;
  }


  .top-line {
    width: 120px;
  }

  .para {
    font-size: 1rem;
    word-spacing: 0.1rem;
    letter-spacing: 0rem;
    line-height: 1.4rem;
    width: 500px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 375px; 
    }
  }
  
  .newParks {
    max-width: 800px;
  }

  .viewMore {
    padding: 4px 12px;
  }
}

  @media only screen and (max-width: 767px) {  
    .top-container {
    width: 350px;
    height: 550px;
   }

   #contain2 {
    width:500px;
   }
   .topEnboss {
    margin-bottom: 15px;
    width: 300px;
  }

  .heading {
    font-weight: 900;
    font-size: 2.9rem;
    line-height: 2.45rem;
    letter-spacing: 0.08rem;
  }

  #heading2 {
    font-size: 2.8rem;
    line-height: 2.4rem;
  }

  #headCount {
    font-size: 4rem;
    margin-bottom: 10px;
  }


  #heading3 {
    font-size: 3.5rem;
  }

  .top-line {
    margin: 15px 0;
    width: 90px;
  }

  .para {
    font-size: 1rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.04rem;
    line-height: 1.3rem;
    width: 348px;
  }

  #weInvite {
    line-height: 1.4rem;
  }

  .contact button {
    margin-top: -5px;
    font-size: 1rem;
    padding: 5px 15px;
  }

  .contact {
    margin-top: 15px;
  }


  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 300px; 
    }
  }

}
  @media only screen and (max-width: 500px) {
    .firstBtn {
      font-size: 1rem;
      padding: 7px 20px;
    }
    #contain2 {
      width: 350px;
      height: 400px;
    }

  #contain3 {
    width: 346px;
    height: 370px;
  }
  #heading1 {
    font-size: 3rem;
  }

  #heading2{
    font-size: 2rem;
    line-height: 1.8rem;
  }
  #headCount {
    font-size: 3.8rem;
    letter-spacing: -0.15rem;
  }

  #heading3 {
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--orange-500);
    line-height: 2rem;
  }

  .contact button {
    margin-top: -7px;
    padding: 5px 14px;
  }

}

  @media only screen and (max-width: 350px) {  
    .top-container {
    width: 100%;
    max-width: 265px;
    height: 480px;
   }

   #secondCon {
    height: 400px;
    padding: 20px 0;
   }
   #contain2 {
    width: 270px;
    height: 370px;
  }
  
  #contain3 {
    width: 280px;
  }

   .topEnboss {
    margin-bottom: 10px;
    width: 250px;
  }

  .heading {
    font-weight: 900;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
  }

  #heading1 {
    font-size: 2.2rem;
  }

  #heading2 {
    font-size: 1.5rem;
    line-height: 1.3rem;
  }

  #headCount {
    font-size: 2.8rem;
    letter-spacing: -0.2rem;
    margin-bottom: 7px;
  }

  #heading3 {
    font-size: 1.8rem;
  }


  .top-line {
    margin: 10px 0;
    width: 70px;
  }

  .para {
    font-size: 0.9rem;
    word-spacing: 0rem;
    letter-spacing: 0.03rem;
    line-height: 1.1rem;
    width: 260px;
  }

  .contact button {
    font-size: 0.8rem;
    padding: 4px 12px;
  }

  .contact {
    margin-top: 10px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 250px; 
    }
  }
}




  
/* Custom Scroll Bar */

::-webkit-scrollbar {
  height: 7px;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #d9d7d7;
 }

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  opacity: 0.75 ;
}

::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7;
}

/* image scroll section */

.text1 {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: var(--anti-text);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  z-index: 200;
}

.image-scroll {
  background-color: var(--white-300);
  height: 650px;
  transition: background-color 0.2s ease-in-out;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  margin-top: -50px;
}

.scroll-parent {
  display: flex;
  align-items: center;
  width: 80%;
  overflow-x: scroll;
  padding: 1rem 20px;
  margin-left: -10vw;
  margin-right: -10vw;
  transition: all .3s ease;
  gap: 1rem;
}

.scroll-parent:hover {
  cursor: grab;
}

.scroll-parent.active {
  scale: .98;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(125%);
  transition: all .3s ease; 
  position: relative;
}

.images:hover {
  filter: saturate(200%);
  transition: linear 0.3s;
}

.images img {
  max-height: 500px;
  border-radius: 20px;
  box-shadow: var(--img-shadow);
}

@media only screen and (max-width: 600px) {
  .images img {
      max-height: 250px;
      filter: saturate(135%);
  }
  .images:hover {
    filter: saturate(135%);
  }

  .text1 {
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    line-height: 1.5rem;
    text-align: center;
  }

  .image-scroll {
    height: 425px;
  }

  .center {
    height: 400px;
    margin-top: -35px;
  }

  .newParks-div {
    font-size: 1.2rem;
    padding-top: 20px;
  }
  
  .newParks {
    max-width: 800px;
    font-size: 1.125rem;

  }

  .viewMore {
    padding: 4px 12px;
    font-size: 1.05rem;
  }
}


@media only screen and (max-width: 950px){
  .scroll-parent {
    width: 100%;

    padding: 16px 20px;

  }
}

@media only screen and (max-width: 600px){
  .scroll-parent {
    width: 100%;
    padding: 16px 10px;
  }
}
@media only screen and (max-width: 480px){
  .scroll-parent {
    width: 100%;
    margin-left: -1vw;
    margin-right: -1vw;
    padding: 16px 5px;
  }
}




  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.25px);
    -webkit-backdrop-filter: blur(1.25px);
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    overflow-y: hidden;
    transition: background-color .3s ease-in-out;
  }
  
  .overlay.active {
    display: block;
    animation: alert-opacity .5s ease-in-out;
  }
  
  .dark .overlay {
    background-color:transparent;
  }
  
  @keyframes alert-opacity {
    0% {
      opacity: 0; 
    }
    100% { 
      opacity: 1;
    }
  }
  
  
  
  
  
  /* ALERT MESSAGE  */
  :root {
    --card-bg: var(--white-300);
    --color-header: var(--black-300);
    --color-text: var(--black-500);
    --color-btn-text: var(--black-500);
    --color-btn1-text:  var(--black-500);
    --color-btn-background: transparent;
    --color-btn1-background: transparent;
    --hover-btn-background: var(--orange-300);
    --hover-btn1-background: var(--blue-600);
    --alert-boss: var(--black-500);
    --alertBorder: var(--white-400);
  }
  
  .dark {
    --card-bg: var(--black-400);
    --color-header: var(--white-300);
    --color-text: var(--white-200);
    --color-btn-text: var(--white-250);
    --color-btn1-text: var(--white-300);
    --color-btn-background: transparent;
    --color-btn1-background: transparent;
    --hover-btn-background: var(--orange-400);
    --hover-btn1-background: var(--blue-600);
    --alert-boss: var(--white-250);
    --alertBorder: var(--black-300);
  
  }
  
  
  /* MAIN CONTENT */
  .customAlert {
    display: none;
    width: 35vw;
    position: fixed;
    z-index:11;
      top: 50%;
    left: 50%;
    margin-top: 0vh; /* Half of the element's height */
    margin-left: -37vw; /* Half of the element's width */  
  }
  
  .customAlert.active {
    display: block;
    animation: alert-bounce 0.5s ease;
  
  
  }
  
  @keyframes alert-bounce {
    0% {
      transform:scale(0.25);
      opacity: 0; 
    }
    50% {
      transform: scale(1.15);
      }
    100% { 
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .grid__item {
    background-color: var(--card-bg);
    /*background-size: 145%;
    background-position: 50% 40%;
    background-image: url("https://docs-assets.developer.apple.com/published/51e2fa3a1c47d547d033a0334fbc6e0b/components-alert-intro~dark@2x.png");
    */ border-radius: 18px;
    opacity:0.51;
    overflow: hidden;
    box-shadow: var(--img-shadow);
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  
  
  .card__img {
    display: block;
    width: 100%;
    height: 14rem;
    object-fit: cover;
  }
  
  .card__content {
    padding: 1.5rem 3rem 3rem;
  }
  
  .card__header {
    letter-spacing: -1px;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-header);
    margin-bottom: 15px;
  }
  
  .card__text {
    font-size: 1.25rem;
    color: var(--color-text);
    margin-bottom: 2.5rem;
  }
  
  #alertBtn, #alertBtn1{
    display: inline-block;
    width: 40%;
    margin-right: 10px;
      padding: 10px 40px;
      font-size: 1.25rem;
    text-align: center;
    color: var(--color-btn-text);
    background-color: var(--color-btn-background);
    border-top: 2px solid var(--alertBorder);
    border-radius: 30px;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }
  #alertBtn1 {
    border-left: 2px solid var(--alertBorder);
    color: var(--color-btn1-text);
    background-color: var(--color-btn1-background);
  }
  
  #alertBtn:hover{
      background-color: var(--hover-btn-background);
  }
  
   #alertBtn1:hover{
      background-color: var(--hover-btn1-background);
  }
  
  
  
  @media only screen and (max-width: 600px){
  .grid__item {
      opacity:1.2; 
      max-height: 147px;
  
    }
    .customAlert {
      width: 75%;
      max-width: 500px;
      height: 100%;
      max-height: 140px;
    }
    .card__img {
      display: none;
    } 
    .card__content {
      padding: 20px 0 0;
    }
    .card__header {
      font-size: 1.25rem;
      margin-bottom: 5px;
    }
    .card__text {
      font-size: 1rem;
      margin-bottom: 20px;
      padding: 0 20px;
    }
    #alertBtn, #alertBtn1{
      margin-right: 0px;
      font-size: 1.125rem;
    }
    #alertBtn, #alertBtn1{
    width: 50%;
    padding: 8px 20px 10px;
    border-radius: 0px;
  }
  #alertBoss {
    fill: var(--alert-boss);
    width: 50px;
  
  }
  }
  #alertBtn {
     float: left;
      font-weight: 500;
  
  }
  #alertBtn1 {
     float: right;
        font-weight: 600;
  
    color: var(--color-btn1-text);
    background-color: var(--color-btn1-background);
  }
  
  /*       End of English Home CSS */


  
    /* Your CSS styles for the overlay go here */
    #overlay1 {
      display: none;
      position: fixed;
      top: 100px;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(1.25px);
      -webkit-backdrop-filter: blur(1.25px);
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
      overflow: hidden;
      transition: background-color .3s ease-in-out;
      justify-content: center;
      align-items: center;
    }
  
    .dark #overlay1 {
      background-color:transparent;
    }

    #newIconAlert { 
      background-color: var(--card-bg);
      box-shadow: var(--img-shadow);
      padding: 25px 30px;
      border-radius: 18px;
      width: 80%;
      max-width: 400px;
      min-width: 200px;
      margin: 0 10px;
      font-family: 'Poppins', sans-serif;
      animation: alert-fade-in 0.5s ease-in-out; /* Fade-in animation */
    }

    /* Your CSS styles for the message box go here */
    #messageBox {
      text-align: center;
      border-radius: 18px;
      transition: all .3s ease-in-out;
    }

    #messageBox h1 {
      color: var(--color-header);
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 10px;
    }

    #messageBox p {
      color: var(--color-text);
      margin-bottom: 10px;
      line-height: 1.25rem;
      text-align: left;
    }

    #understandAction {
      font-size: 1rem;
      font-weight:500 ;
      margin-top: 10px;
      padding: 7px 20px;
      background-color: var(--white-350);
      color: var(--black-600);
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: all .15s ease-in-out;
    }

    #understandAction:hover {
      color: var(--white-400);
      background-color: var(--blue-600);
    }

    .dark #understandAction {
      color: var(--white-250);
      background-color: var(--black-200);
    }

    .dark #understandAction:hover {
            color: var(--white-300);
      background-color: var(--blue-600)
    }



    /* Keyframes for fade-in and fade-out animations */
    @keyframes alert-fade-in {
    0% {
      transform:scale(0.25);
      opacity: 0.25; 
    }
    50% {
      transform: scale(1.15);
      }
    100% { 
      transform: scale(1);
      opacity: 1;
    }
  }

    @keyframes alert-fade-out {
      from {
        opacity: 1;
        transform: scale(1);
      }
          50% {
      transform: scale(1.15);
      }
      to {
        opacity: 0;
        transform:scale(0.25);
      }
    }


  .shieldSvg {
  fill: var(--orange-500);
  max-width: 30px;
  animation: shieldAnimation 1.9s ease-in-out forwards;
  transform-origin: center;
  }

#shield {
  transform-origin: center;
}

.dark .shieldSvg {
  fill: var(--orange-600);
}


@keyframes shieldAnimation {
  0% {
    transform: rotate(0deg) scale(0);
  }
    20% {
    transform: rotate(-40deg);
  }
      40% {
    transform: rotate(40deg);
  }
        60% {
    transform: rotate(-20deg);
  }
          80% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes shieldSize {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
