
body {
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  background-color: var(--blue);
}

body.dark {
  background-color: var(--body-dark);
}

main {
    padding-top: 64px;
    
}
/* first and second Container CSS */
.pageContainer {
    width: 100%;
    background-color: var(--amber);

  }

  #firstCon {
    width: 100%;
        background-color: var(--blue);
        position: relative;
  }
  
  .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-repeat: repeat;
    background-size: 25%;  
    background-image: url("/svg/EnbossWallpaperLight.svg");
    background-attachment: fixed;
    opacity: 0.1;
  }

  @media only screen and (max-width: 1440px){
    .background-image {
      background-size: 30%;  
    }
  }

  @media only screen and (max-width: 1024px){
    .background-image {
      background-size: 35%;  
    }
  }

  @media only screen and (max-width: 768px){
    .background-image {
      background-size: 50%;  
    }
  }

  @media only screen and (max-width: 480px){
    .background-image {
      background-size: 100%;  
    }
  }

  #secondCon {
    background-color: var(--conq);
    width: 100%;

  }

  .top-container {
    font-family: "Poppins", Sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 730px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  
  #contain2 {
    width: 100%;
    max-width: 681px;
    height: 500px;
    background-color: var(--conq);
  }

  #contain3 {
    width: 100%;
    max-width: 635px;
    height: 450px;
    background-color: var(--amber);
  }

  .topEnboss {
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
    fill: var(--amber);
  }

  .topEnboss {
    animation: bounce 0.5s ease;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0) scale(0.25);
      opacity: 0; 
    }
    50% {
      transform: translateY(-20px);
      }
    100% { 
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }


  

  .heading {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: var(--anti-text);
    word-spacing: 0.1em;
    letter-spacing: 1px;
  }



  #heading1 {
      opacity: 0;
      animation-name: fade-in-up;
      animation-duration: 1s;
      animation-delay: 0.5s; 
      animation-fill-mode: forwards;
    }

    #contain1 button{
      font-size: 1.25rem;
      font-weight: 800;
      color: var(--dark-blue);
      background-color: var(--amber);
      border-radius: 30px;
      padding: 10px 40px;
      margin-top: 25px;
      opacity: 0;
      animation-name: fade-in-up;
      animation-duration: 1.5s;
      animation-delay: 2s; 
      animation-fill-mode: forwards;
    }
    #contain1 button:hover {
      background-color: var(--light-amber);
    }

  #atEnboss {
    opacity: 0;
    animation-name: fade-in-up;
    animation-duration: 1.5s;
    animation-delay: 1.5s; 
    animation-fill-mode: forwards;
  }
   #line1 {
    opacity: 0;
    animation-name: line-fade-in-up;
    animation-duration: 1s;
    animation-delay: 1s; 
    animation-fill-mode: forwards;

   }

   @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
   @keyframes line-fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
      width: 0; /* increase width to 50% at 50% */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      width: 150px; /* increase width to 50% at 50% */
    }
  }
  

  #heading2 {
    font-size: 3rem;
    color: var(--anti-text);
    line-height: 3.1rem;
  }

  #headCount {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--blue);

  }

  #heading3 {
    letter-spacing: 0.1rem;
    font-weight: 900;
    color: var(--blue);    
  }
  
  #heading3.animate {
    animation: zoom-in 0.3s ease-out 0.3s forwards;
  }
  
  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(0.75);
    }
    70% {
      transform: scale(1.15);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  
  
  
  
  
  

  .top-line {
    margin: 15px 0;
    border: 1px solid var(--amber);
    border-radius: 5px;
    width: 100%;
    max-width: 150px;
  }

  #line2 {
    border-color: var(--anti-text);
  }

  .para {
    color: var(--anti-text-2);
    font-size: 1.375rem;
    font-weight: 400;
    word-spacing: 0rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }

  #weInvite {
    color: var(--anti-text);
  }

  #thisIs {
    margin-top: 10px;
    color: var(--black);
  }

  #doYou {
    margin-top: 5px;
    color: var(--black);
  }
  .contact {
    margin-top: 20px;
  }
  .contact button {
    color: var(--anti-text);
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    background-color: var(--conq);
    border-radius: 36px;
    padding: 7px 20px;
    font-weight: 500;
  }
  .contact button:hover {
    transition: linear 0.3s;
    background-color: var(--light-conq);
  }

  .newParks-div {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.375rem;
    padding-top: 30px;
    background-color: var(--anti-white);
  }
  
  .newParks {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  .newParksTitle {
    color: var(--blue);
    font-weight: 600;
  }
  
  .viewMore {
    margin: 0;
    text-align: right;
    cursor: pointer;
    color: var(--blue);
    background-color: var(--amber);
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 1.25rem;
    font-weight:700;

  }
  
  .viewMore:hover {
    background-color: var(--light-amber);
  }



   /*     First Container Media Queries      */
   @media only screen and (max-width: 1440px) {
    .top-container {
      height: 700px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .top-container {
    width: 500px;
    height: 550px;
   }
   #contain2 {
    width: 520px;
    height: 370px;
  }
  
  #contain3 {
    width: 520px;
    height: 370px;
  }

   .topEnboss {
    width: 375px;
    margin-bottom: 30px;
  }

  .heading {
    font-weight: 900;
    font-size: 3.7rem;
    line-height: 3.3rem;
  }


  #heading2 {
    font-size: 3.1rem;
    line-height: 2.8rem;

  }
  
  #headCount {
    font-size: 4.5rem;
    margin-bottom: 2px;
  }

  #heading3 {
    font-size: 3.6rem;
  }


  .top-line {
    width: 120px;
  }

  .para {
    font-size: 1rem;
    word-spacing: 0.1rem;
    letter-spacing: 0rem;
    line-height: 1.4rem;
    width: 500px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 375px; 
    }
  }
  
  .newParks {
    max-width: 800px;
  }

  .viewMore {
    padding: 4px 12px;
  }
}

  @media only screen and (max-width: 767px) {  
    .top-container {
    width: 350px;
    height: 550px;
   }

   #contain2 {
    width:500px;
   }
   .topEnboss {
    margin-bottom: 15px;
    width: 300px;
  }

  .heading {
    font-weight: 900;
    font-size: 2.9rem;
    line-height: 2.45rem;
    letter-spacing: 0.08rem;
  }

  #heading2 {
    font-size: 2.8rem;
    line-height: 2.4rem;
  }

  #headCount {
    font-size: 4rem;
    margin-bottom: 10px;
  }


  #heading3 {
    font-size: 3.5rem;
  }

  .top-line {
    margin: 15px 0;
    width: 90px;
  }

  .para {
    font-size: 1rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.04rem;
    line-height: 1.3rem;
    width: 348px;
  }

  #weInvite {
    line-height: 1.4rem;
  }

  .contact button {
    margin-top: -5px;
    font-size: 1rem;
    padding: 5px 15px;
  }

  .contact {
    margin-top: 15px;
  }


  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 300px; 
    }
  }

}
  @media only screen and (max-width: 500px) {
    #contain1 button{
      font-size: 1rem;
      padding: 7px 20px;
    }
    #contain2 {
      width: 350px;
      height: 400px;
    }

  #contain3 {
    width: 346px;
    height: 370px;
  }
  #heading1 {
    font-size: 3rem;
  }

  #heading2{
    font-size: 2rem;
    line-height: 1.8rem;
  }
  #headCount {
    font-size: 3.8rem;
    letter-spacing: -0.15rem;
  }

  #heading3 {
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--blue);
    line-height: 2rem;
  }

  .contact button {
    margin-top: -7px;
    padding: 5px 14px;
  }

}

  @media only screen and (max-width: 350px) {  
    .top-container {
    width: 100%;
    max-width: 265px;
    height: 480px;
   }

   #secondCon {
    height: 400px;
    padding: 20px 0;
   }
   #contain2 {
    width: 270px;
    height: 370px;
  }
  
  #contain3 {
    width: 280px;
  }

   .topEnboss {
    margin-bottom: 10px;
    width: 250px;
  }

  .heading {
    font-weight: 900;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
  }

  #heading1 {
    font-size: 2.2rem;
  }

  #heading2 {
    font-size: 1.5rem;
    line-height: 1.3rem;
  }

  #headCount {
    font-size: 2.8rem;
    letter-spacing: -0.2rem;
    margin-bottom: 7px;
  }

  #heading3 {
    font-size: 1.8rem;
  }


  .top-line {
    margin: 10px 0;
    width: 70px;
  }

  .para {
    font-size: 0.9rem;
    word-spacing: 0rem;
    letter-spacing: 0.03rem;
    line-height: 1.1rem;
    width: 260px;
  }

  .contact button {
    font-size: 0.8rem;
    padding: 4px 12px;
  }

  .contact {
    margin-top: 10px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 250px; 
    }
  }
}




  
/* Custom Scroll Bar */

::-webkit-scrollbar {
  height: 7px;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
 }

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 76%);
  border-radius: 15px;
  opacity: 0.5 ;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 66%);
}

/* image scroll section */

.text1 {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: var(--anti-text);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  z-index: 200;
}

.image-scroll {
  background-color: var(--anti-white);
  height: 650px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  margin-top: -50px;
}

.scroll-parent {
  display: flex;
  align-items: center;
  width: 80%;
  overflow-x: scroll;
  padding: 1rem 20px;
  margin-left: -10vw;
  margin-right: -10vw;
  transition: all .3s ease;
  gap: 1rem;
}

.scroll-parent:hover {
  cursor: grab;
}

.scroll-parent.active {
  scale: .98;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(125%);
  transition: all .3s ease; 
  position: relative;
}

.images:hover {
  filter: saturate(200%);
  transition: linear 0.3s;
}

.images img {
  max-height: 500px;
  border-radius: 20px;
  box-shadow: var(--img-shadow);
}

@media only screen and (max-width: 600px) {
  .images img {
      max-height: 250px;
      filter: saturate(135%);
  }
  .images:hover {
    filter: saturate(135%);
  }

  .text1 {
    font-size: 1.5rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    line-height: 1.5rem;
    text-align: center;
  }

  .image-scroll {
    height: 425px;
  }

  .center {
    height: 400px;
    margin-top: -35px;
  }

  .newParks-div {
    font-size: 1.2rem;
    padding-top: 20px;
  }
  
  .newParks {
    max-width: 800px;
    font-size: 1.125rem;

  }

  .viewMore {
    padding: 4px 12px;
    font-size: 1.05rem;
  }
}


@media only screen and (max-width: 950px){
  .scroll-parent {
    width: 100%;

    padding: 16px 20px;

  }
}

@media only screen and (max-width: 600px){
  .scroll-parent {
    width: 100%;
    padding: 16px 10px;
  }
}
@media only screen and (max-width: 480px){
  .scroll-parent {
    width: 100%;
    margin-left: -1vw;
    margin-right: -1vw;
    padding: 16px 5px;
  }
}

  /*       End of English Home CSS */


