
/*       Footer CSS     */
body {
    background-color: var(--ne-white);
}

footer {
    display: block;
}

.footer-main {
    background-color: var(--white-400);
    position: relative;
    width: 100vw;
    height: 100%;
    font-family: 'SFProText','Public Sans', sans-serif;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out !important;
    font-weight:300;
}


#enbossLogo {
    width: 100%;
    max-width: 180px;
    height: 35px;
    fill: var(--cyan-500);
    margin-bottom: 20px;
}

.logo #enbossLogo:hover{
    fill: var(--light-blue);
}

.logo {







    width: 100%;
    max-width: 300px;
    font-size: 1.05rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.logo-des {
    color: var(--blue-200);
    line-height: 1.4rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
    margin-top: -5px;
    padding: 5px;
}
.logo a {
    text-decoration: none;
    color: var(--blue-100);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.logo a:hover {
    color: var(--blue-100);
    font-weight: 700;
}

.social-icons {
    display: flex;
    align-items: center;
    max-width: 220px;
    width: 100%;
    margin-top: 20px;
    gap: 15px;
}

.back-Icon {
    fill: hsla(26, 93%, 63%, .1);
}

.front-Icon {
    fill: var(--blue-500);
}

#orange-social {
    fill: var(--orange-500);
}

.back-Icon:hover {
    fill: hsla(26, 93%, 63%, .1);
}

.front-Icon:hover {
    fill: hsla(240, 3.33%, 11.76%, 1);
}

#skatepark1 {
    padding-top: 85px;
}

#skatepark2 {
    padding-top: 105px;
}

.row h3 {
    font-weight: 500;
    margin: 25px 0 20px;
    color: var(--blue-100);
}

.main-foot h3:hover {
    color: var(--light-grey5);
    transition: linear 0.3s;
}


.main-foot {
    padding-top: 20px;
    padding-bottom: 50px;
    max-width: 1200px;
    max-height: 550px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.footer-header{
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.skateparks-des {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skateparks-des a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--blue-200);
    transition: color 0.15s ease-in-out
}

.skateparks-des a:hover{
    color: var(--light-grey5);
}

#link-all {
    color: var(--blue-100);
    font-weight: 600;
}

@media only screen and (max-width: 850px) {
    
    #skatepark2 {
        display: none;
    }
}


@media (max-width: 660px) {
    .main-foot {
        width: 100%;
    }
    .skateparks {
        display: none;
    }
}

.copyright {
    max-width: 100vw;
    background-color: var(--white-300);
    transition: background-color 0.3s ease-in-out;
}

.copyright p{
    font-family: 'SFProText','Public Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    padding: 15px 0;
    color: var(--blue-200);
    text-align: center;
    z-index: 100;
    /* background-color: hsla(219, 50%, 22%, .1); */
}

.dark #copyright {
    background-color: var(--black-100);
  }

.dark #copyright p{
    color: var(--white-400);
  }


  .main-foot {
    transition: all 0.3s ease-in-out;

  }