@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	/* display: block; */
}
body {
	line-height: 1;
  touch-action: manipulation;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
    :root {
      --shadow-bottom: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
         0 2px 4px -1px rgba(0, 0, 0, 0.06);
      --shadow-top: -10px -150px 60px 0px rgba(0, 0, 0, 0.1),
         0 2px 4px -1px rgba(0, 0, 0, 0.06);
      --text-shadow: 0px 0px 13px rgba(0,0,0,0.3);
      --svg-black-shadow: drop-shadow(0px 0px 8px rgb(0 0 0 / 0.25));
      --svg-white-shadow: drop-shadow(0px 0px 5px rgb(255 255 255 / 0.2));
      --img-shadow-white: 0px 0px 14px 3px rgba(255,255,255,0.15);
      --img-shadow: 0px 0px 14px 3px rgba(0,0,0,0.15);


      --white: #fff;
      --img-back: #eaeaea;
      --text: #a5a5a7;
      --text-dark: #545459;
      --text-light: #bfbfc0;

      --dark-blue: hsl(219, 50%, 15%);
      --blue: hsl(219, 50%, 22%);
      --light-blue: hsla(219, 50%, 40%, 1);
      --lighter-blue: hsla(219, 50%, 95%, 1);
      --anti-white: hsl(210, 15%, 95%);

      --anti-text:hsl(210, 15%, 95%);
      --anti-text-2:hsl(210, 15%, 95%);
      
      --anti-grey: hsla(210, 14%, 90%, 1);
      --dark-grey: hsla(210, 14%, 85%, 1);
      --darker-grey: hsl(210, 0%, 35%);
      --dark-violet: #262671;
      --violet: #292977;
      --light-violet: #AB7FFB;
      --lighter-violet: #BB96FD;
      --yellow: #FDC632;
      --light-yellow: #ffd25a;
      --new-grey: #F3F5F4;
      --navy: #002031;


      --transition-3: all 0.3s ease-in-out;

      --black-100: #050505; /* darker black copyright background */
      --black-200: #0A0A0A; /* darker black footer background */
      --black-300: #111111; /* dark black background */
      --black-400: #171717; /* black background */
      --black-450: #202020;  /*test black background test */
      --black-500: #292929; 
      --black-600: hsl(228 3% 22% / 1); 
      --black-700: #545459; /* grey text for white background */

      --white-200: #A1A1A1; 
      --white-250: hsl(0, 0%, 73%); 
      --white-300: #e0e0e0; 
      --white-350: #F2F2F7;
      --white-400: #EDEDEB; /* white text & background */
      --white-500: #f8f8f7; /* whiter  background */
      --white-600: #fefefe; /* grey background */

      --orange-200: hsl(20, 69%, 39%);
      --orange-300: hsl(20deg 73.75% 38.27%) ; 
      --orange-400: hsl(20deg 81.29% 42.93%) ;
      --orange-450: hsl(20, 96%, 53%);
      --orange-500: #F87434 ; /* light orange */
      --orange-600: #F6834A; /* dark orange */
      --orange-700: hsl(20, 91%, 73%); /* dark orange */

      --blue-100: #14191D; /* even darker blue text */
      --blue-200: #171E24; /* darker blue text */
      --blue-300: hsl(209, 91%, 20%); 
      --blue-400: #074E92; 
      --blue-500: #065cac;
      --blue-600: #0670BA; 
      --blue-700: hsl(205, 95%, 43%); /* light blue */
      --blue-800: #0694f9; /* lighter blue */
      --blue-over: hsl(210, 100%, 50%);
      --orange-over: hsl(20, 100%, 50%);

      --cyan-200: hsl(207, 44%, 40%); /* darker cyan */
      --cyan-400: #6c9dc6; /* dark cyan */
      --cyan-500: #A7C5DD; /* light cyan */
      --cyan-600: #A0C0D9; /* lighter cyan */
      --cyan-700: hsl(206, 43%, 84%); 

      --zomp: hsla(168, 58%, 41%, 1);
      --light-munsell: hsla(192, 73%,46%,1);
      --munsell: hsla(192, 73%, 36%,1);
      --light-amber: hsl(45, 100%, 60%);
      --amber: hsl(45, 100%, 50%);
      --light-conq: hsl(13, 90%, 61%);
      --dark-conq: hsl(13, 90%, 41%);
      --conq: hsl(13, 90%, 51%); 
      --dark-sham: hsl(140, 33%, 36%);
      --sham: hsl(140, 33%, 46%);
      --light-sham: hsl(140, 33%, 56%);
              /*   g#7DDF64    */
    }


    *,
    *::before,
    *::after {
      box-sizing: border-box;
      list-style: none;
      list-style-type: none;
      text-decoration: none;
      font-weight: unset;
      word-spacing: unset;
      letter-spacing: unset;
      font-family: unset;
      resize: none;

    }
        
    html {
      line-height: normal;
      font-size: 16px;
      box-sizing: inherit;
      scroll-behavior: smooth;
      width: -webkit-fill-available;
    }
    
    a,
    button {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      padding: 0;
    }

    ::selection {
        background-color: var(--white-300);
        color: var(--black-100);
      }

	::placeholder {
		color: hsl(0, 0%, 60%);
		transition: color .4s ease;
	}

  
/* Custom Scroll Bar */

::-webkit-scrollbar {
  height: 7px;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
 }


 ::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 76%);
  border-radius: 15px;
  opacity: 0.5 ;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 66%);
}

.dark ::-webkit-scrollbar-track {
  background: hsl(256, 70%, 95%);
 }


 .dark ::-webkit-scrollbar-thumb {
  background: hsl(256, 70%, 75%);
  border-radius: 15px;
  opacity: 0.5 ;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: hsl(256, 70%, 70%);
}

      
      body{
        caret-color: transparent;
      }
      
      input {
        caret-color: auto;
      }

    
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Open Sans", Sans-serif;
      padding: 0rem 2rem;
      z-index: 100;
      background-color: hsla(0, 0%, 90%, 0.3);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,.3);
      transition: all 0.4s ease;
    }

    header.active-search,
	header.active-menu {
      background-color: hsla(0, 0%, 90%, 0.65);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }

.header-div {
    max-width: 1200px;
    width: 100%;

}
  .header-top, .header-bottom {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
  }

  .header-middle, .header-bottom {
    display: none;
    align-items: center;
    justify-content: center
  }

  .header-middle.active-search {
    display: flex;
    justify-content: center;
    animation: search-grow 0.3s ease forwards;
  }

  @keyframes search-grow {
    from {
        height: 0px;
        opacity: 0%;
        padding: 0rem;
    }
	to {
        height: 60px;
        opacity: 100%;
        padding: 0.5rem 0rem 1rem;
    }
}  

.header-bottom.active-searched {
  padding-top: 0rem;
  padding-bottom: 1rem;
  display:block;
}

.header-middle.searched  {
  display: flex;
  animation: search-shrink 0.3s ease forwards;
}

@keyframes search-shrink {
  0% {
    height: 60px;
    opacity: 100%;
    padding: 0.5rem 0rem 1rem;
  }
  100% {
    height: 0px;
    opacity: 0%;
    padding: 0rem;
  }
}  

  



  .header-top {
    justify-content: space-between;
    height: 55px;
  }

  .header-top.active-search {
    height: 150px;
  }

  header .logo {
	padding: 10px 0;
    margin-right: 1rem;
  }

  header .logo a{
	padding-top: 10px;
  }

  header #brand {
	width: 95%;
	max-width: 110px;
	max-height: 355px;
	fill: var(--black-100);
	transition: fill 0.2s ease;
  }
  
  header #brand:hover{
    fill: var(--blue-over);
  }
  
  .head-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
  
  .head-nav li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 0rem;
    letter-spacing: 0px;
  }
  
  .head-nav a {
    text-decoration: none;
    color: var(--black-100);
    transition: color 0.2s ease;
  }

  .head-nav a:hover{
    color: var(--blue-over);
  }



  
  .head-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 29px;
  }



 .head-icons a {
	 padding: 5px;
	}
  .translateBtn{
    width: 29px;
    height: 100%;
    max-width:29px;
    max-height: 29px;
    transition: fill 0.2s ease;
  }

  .translateBtn:hover {
    fill: var(--blue-over);
  }
  
  .search-svg {
    width: 100%;
    max-width: 23px;
    fill: var(--black-200);
    margin-bottom: 1px;
    transition: all 0.2s ease;
  }

  .search-svg:hover {
    fill: var(--blue-over);
  }
  
  .search-div {
    display: flex;
    align-items: center;
    width: 40%;
    transition: width 0.2s ease;

  }

  .search-bar { 
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center
  }

  .search-bar input {
    font-size: 1.25rem;
    font-weight: 500;
    direction: rtl;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    width: 100%; 
    color: var(--dark-blue);
    background: hsl(206, 14%, 100%);
	transition: all 0.4s ease;

  }

  .search-bar input:focus {
    outline: none;
  }

  .active-search .search-bar input {
    animation: search-bar-grow 0.4s ease forwards;
  }

  @keyframes search-bar-grow {
    0% {
        width: 0%;
        padding: 0rem;
      }
    50% {
      opacity: 1%;
      width: 0%;
      padding: 0rem;
    }
    100% {
      opacity: 100%;
      width: 100%;
      padding: 0.5rem 1rem;
    }
  } 

  .searched .search-bar input {
    animation: search-bar-shrink 0.4s ease forwards;
  }

  @keyframes search-bar-shrink {
    0% {
      opacity: 100%;
      width: 40%;
      padding: 0.5rem 1rem;
      }
    50% {
      opacity: 1%;
      width: 0%;
      padding: 0rem;
    }
    100% {
      width: 0%;
      padding: 0rem;
    }
  } 

  
.result-box ul {
  width: 40%;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.15rem;
  margin-top: -1px;
  direction: rtl;
}


.result-box ul li{
  list-style: none;
  border-radius: 30px;
  padding: 1vh 1vw;
  cursor: pointer;
  color: #333;
  width: 100%;
  margin: 0 auto;
}

.result-box ul li:hover {
	font-weight: 700;
	  color: var(--blue-over);
}

.dark .result-box ul li:hover {
  color: var(--cyan-400);

}

.dark .result-box ul li {
  color: var(--white-400);
}

.result-box ul li.selected {
  font-weight: 700;
  color: var(--blue-over);
}

.dark .result-box ul li.selected {
  color: var(--cyan-400);
}



  
  .search-svg {
    stroke: var(--black-100);
  }
  .search-svg:hover {
    stroke: var(--blue-over);
  }

  .search-svg.clicked .glass { 
    animation-name: zoom-out;
    animation-duration: .4s;
      animation-fill-mode: forwards;
    transition: all 0.3s ease-in-out
  }
  
  .search-svg.clicked .handle { 
    animation-name: move-up;
    animation-duration: .4s;
      animation-fill-mode: forwards;
    transition: all 0.3s ease-in-out;
  }
  
  
  .search-svg.clicked .handle3 {
    animation-name: move-spin;
    animation-duration: .4s;
      animation-fill-mode: forwards;
    transition: all 0.3s ease-in-out;
  }
  
  @keyframes zoom-out {
    0% {
      transform: scale(1);
    }

    100% {
      stroke-width: 1.5px;
      transform: scale(1.125);
      stroke: var(--orange-over);
    }
  }
  
  @keyframes move-up {
    0% {
      transform: translate(0, 0) rotate(0deg);
          stroke-width:2.1px;
          transform: scale(1);
    }
    50% {
      transform: scale(1);
      stroke-width:1.8px;

    }
    100% {
      transform-origin: 165% 165%;
      transform: translate(-37%, -37%);
      stroke-width:1.1px;
      transform: scale(1.4);
      stroke: var(--orange-over);
    }
  }
  
  @keyframes move-spin {
    0% {
      transform-origin: 100% 100%;
      transform: translate(-50%, 50%);
      stroke: var(--black-100);
      opacity: 0;
    }

    80% {
      opacity: 0;
      transform: translate(-20%, 20%);

    }
    100% {
      stroke: var(--orange-over);
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .search-svg.disabled .glass { 
    animation-name: zoom-out-rev;
    animation-duration: .6s;
    animation-fill-mode: forwards;
  }
  
  .search-svg.disabled .handle { 
    animation-name: move-up-rev;
    animation-duration: .9s;
      animation-fill-mode: forwards;
  }
  
  
  .search-svg.disabled .handle3 {
    animation-name: move-spin-rev;
    animation-duration: .6s;
    animation-fill-mode: forwards;
  }  

  .search-svg:hover[class="disabled"]
  line.handle {
    stroke: var(--blue-over) !important;
  }

    .search-svg[class="disabled"]
    line.handle {
      stroke: var(--blue-over) !important;
    }

  @keyframes zoom-out-rev {
    0% {
      transform: scale(1.15);
      stroke: var(--black-100);
      stroke-width: 1.4px;

    }


    100% {
      stroke-width: 2.1px;
      transform: scale(1);
      
    }
  }
  

  @keyframes move-up-rev {
    0% {
      transform-origin: 192% 192%;
      transform: translate(-37%, -37%) rotate(0deg);
      stroke-width:1.4px;
      transform: scale(1.3);
    }
    50% {
      transform: scale(1);
    }
    100%{
      transform: translate(0, 0) rotate(0deg);
          stroke-width:2.1px;
          transform: scale(1);
    }
  }

  @keyframes move-spin-rev {
    0% {
      stroke: var(--orange-over);
      transform: translate(0, 0);
      opacity: 1;
    }
    20% {
      opacity: 0.6;
    }
    100% {
      transform-origin: 130% 130%;
      transform: translate(100%, -100%);
      opacity: -3;
    }
  }
  /* ------ End of Search icon CSS ------ */




  /* ------ Start of ColorButton icon CSS ------ */
  #colorButton {
    position: relative;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: visible;
    background-color: hsla(219, 50%, 22%, .1);
    transition: all 0.3s ease-in-out;
}

 #colorButton:hover {
    background-color: hsla(210, 100%, 50%, 0.5);
 }

#colorButton svg {
    margin-left:4.5px;
	margin-top:5px;
    width: 70%;
}

.toggle-button {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  .active-mode,
  .inactive-mode {
    user-select: none;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2px;
  }
  
  .active#colorButton {
    background-color: hsla(256, 100%, 93%, .075);
  }

 .active#colorButton:hover {
    background-color: hsla(210, 100%, 50%, 0.5);
 }

  .active-mode {
    display:none;
  }

  
  .inactive-mode {
    display:block;
    animation: zom-in .3s ease forwards;
  }


  .active .active-mode {
    display: block;
    animation: zom-in .3s ease forwards;

  }

  .active .inactive-mode {
    display:none;
  }

  @keyframes zom-in { 
    0% {
      transform: scale(0);
    }

    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }


  /* ------ End of ColorButton icon CSS ------ */

  .burger label{
    display:none;
     flex-direction:column;
     width:33px;
     cursor:pointer;
     direction: rtl;
    padding: 5px;
  
   }
   
   .burger span{
     background: var(--black-100);
     border-radius:20px;
     height:2px;
     margin: 3.3px 0;
     transition: .25s  ease;
   }
  
   
   .burger span:nth-of-type(1){
     width:70%;
   }
   
   .burger span:nth-of-type(2){
     width:100%;
   }
   
   
   .burger span:nth-of-type(3){
     width:45%;
   }
   
   
   #burger input[type="checkbox"]{
    display:none;
  }
  
  
  #burger input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    background: var(--orange-over);
    width: 50%;
    transform:rotatez(45deg) translate(-5px,11px)
  }
  
  
  #burger input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:center;
    background: var(--orange-over);
    transform:rotatez(-45deg)
  }
  
  
  #burger input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:center;
    background: var(--orange-over);
    width:50%;
    transform: translate(-2px,-4px) rotatez(45deg);
  
  }

  /* ------ End of Burger icon CSS ------ */






 /* MOBILE CSS QUERIES */


 @media only screen and (max-width: 1440px){

}

@media only screen and (max-width: 1024px){
  header {
    padding: 0rem 1.5rem;
  }

  header .active-menu {
    background-color: hsla(0, 0%, 90%, 0.8);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
  }

  .head-nav {
	  z-index: 1;
	  display:block;
	  position: fixed;
	  top: 55px;
	  width: 200px;
	  right: -200px;
	  height: 100vh;
	  padding-top:2em;
	  padding-right: 0.45rem;
	  font-family: "Open Sans", Sans-serif;
	  background-color: hsla(0, 0%, 90%, 0.65);
	  -webkit-backdrop-filter: blur(20px);
	  backdrop-filter: blur(20px);
	  box-shadow: 0px 0px 15px 0px rgba(0,0,0,.3);
	  transition: all .3s ease;
	 }

.dark .head-nav {
		background: hsla(0, 0%, 13%, 0.7);
}

   .head-nav.active-menu {
	  animation: menu-grow 0.4s ease forwards;
}


.head-nav.disabled {
	  animation: menu-shrink 0.4s ease forwards;
}
@keyframes menu-grow {
  from {right: -200px;}
	to { right: 0px;}
}  
	@keyframes menu-shrink {
  from {right: 0px;}
	to { right: -200px;}
}  

   .head-nav ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 2rem;
  }
  
   .head-nav li.active-menu {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 0rem;
    letter-spacing: 0px;
  }

	  .head-nav.active-menu  li {
    opacity: 0;
    transform: translateX(0px);
    animation: bounceInRight 0.5s ease forwards;
  }
  
  @keyframes bounceInRight {
    0% {
      transform: translateX(100px);
    }
    50% {
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .head-nav.active-menu  li:nth-child(1) {
    animation-delay: 0s;
  }
  
  .head-nav.active-menu  li:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .head-nav.active-menu  li:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .head-nav.active-menu  li:nth-child(4) {
    animation-delay: 0.3s;
  }

  .head-nav.active-menu  li:nth-child(5) {
    animation-delay: 0.4s;
  }

  .head-nav.active-menu  li:nth-child(6) {
    animation-delay: 0.5s;
  }

  .burger label{
    display: flex;
  }

  .search-div {
    width: 70%;
  }

  .search-bar input {
    font-size: 1.15rem;
  }

  .result-box ul {
    width: 68%;
  }
}

@media only screen and (max-width: 768px){
  header:hover {
    color: inherit;
    fill: inherit;
  }

  header {
    padding: 0rem 1rem;
  }

  .search-div {
    width: 50%;
  }
  
  .result-box ul {
    width: 47%;
  }
}

@media only screen and (max-width: 480px){
  .search-div {
    width: 95%;
  }

  .search-bar input {
    font-size: 1.1rem;
  }

  .result-box ul {
    width: 89%;
  }
}











.dark::selection {
  color: var(--white-400);
}

.dark header {
  background: hsla(0, 0%, 13%, 0.6);
}

.dark header.active-search,
.dark header.active-menu {
  background: hsla(0, 0%, 13%, 0.7);
}

.dark header #brand {
  fill: var(--white-400);
}

.dark header #brand:hover{
  fill: var(--cyan-400);
}


.dark .head-nav a {
  color: var(--white-400);
}

.dark .head-nav a:hover {
  color: var(--cyan-400);
}

.dark .head-nav li {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.dark .active#colorButton:hover {
	background-color: hsl(207 44% 60% / 0.5);
}

.dark .search-svg {
  stroke: var(--white-400);
}

.dark .search-svg:hover {
  stroke: var(--cyan-400);
}

.dark .translateBtn {
  fill: var(--white-400);
}

.dark .translateBtn:hover {
  fill: var(--cyan-400);
}

.dark .burger span{
  background: var(--white-400);
}

.dark .search-bar input {
  color: var(--white-400);
  background-color: hsla(150, 3%, 11%, 0.8);
}
.dark ::placeholder {
	color: var(--white-200);
}
