
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  overflow-x: hidden;
  background-color: var(--blue);

}

/* first and second Container CSS */

.pageContainer {
    width: 100%;
    background-color: var(--amber);
  }

  #firstCon {
    width: 100%;
        background-color: var(--blue);
        position: relative;
          background-repeat: repeat;
          background-size: 25%;  
          background-image: url('/svg/EnbossWallpaperLight.1.svg');
          background-attachment: fixed;
        }
  



  @media only screen and (max-width: 1440px){
    .background-image {
      background-size: 30%;  
    }
  }

  @media only screen and (max-width: 1024px){
    .background-image {
      background-size: 35%;  
    }
  }

  @media only screen and (max-width: 768px){
    .background-image {
      background-size: 50%;  
    }
  }

  @media only screen and (max-width: 480px){
    .background-image {
      background-size: 100%;  
    }
  }



  #secondCon {
    background-color: var(--conq);
  }
.bottom-container {
  background-color: var(--amber);

}

  .top-container, .bottom-container {
    font-family: 'Noto Sans Hebrew', Sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 800px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  
  #contain2 {
    width: 100%;
    max-width: 635px;
    height: 500px;
    background-color: var(--conq);
  }

  #contain3 {
    width: 100%;
    max-width: 635px;
    height: 450px;
  }

  .topEnboss {
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
    fill: var(--amber);
    z-index: 1;
  }

  .topEnboss {
    animation: bounce 0.5s ease;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0) scale(0.25);
      opacity: 0; 
    }
    50% {
      transform: translateY(-20px) ;
      }
    100% { 
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  .heading {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 3rem;
    color: var(--anti-white);
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
  }

  #heading1 {
    opacity: 0;
    animation-name: fade-in-up;
    animation-duration: 1s;
    animation-delay: 0.5s; 
    animation-fill-mode: forwards;
  }

  #contain1 button{
    font-weight: 800;
    color: var(--dark-blue);
    background-color: var(--amber);
    border-radius: 30px;
    padding: 10px 40px;
    margin-top: 25px;
    opacity: 0;
    animation-name: fade-in-up;
    animation-duration: 1.5s;
    animation-delay: 2s; 
    animation-fill-mode: forwards;
    font-size: 1.25rem;
  }
  #contain1 button:hover {
    background-color: var(--light-amber);
  }

#atEnboss {
  opacity: 0;
  animation-name: fade-in-up;
  animation-duration: 1.5s;
  animation-delay: 1.5s; 
  animation-fill-mode: forwards;
}
 #line1 {
  opacity: 0;
  animation-name: line-fade-in-up;
  animation-duration: 1s;
  animation-delay: 1s; 
  animation-fill-mode: forwards;
 }

 @keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
 @keyframes line-fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
    width: 0; /* increase width to 50% at 50% */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    width: 150px; /* increase width to 50% at 50% */
  }
}

  #heading2 {
    font-size: 3.2rem;
    color: var(--anti-white);
  }

  #headCount {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0px;
    color: var(--blue);
    line-height: 3rem;
    letter-spacing: -0.2rem;
  }

  #heading3 {
    line-height: 4.2rem;
    letter-spacing: 0rem;
    font-weight: 900;
    color: var(--blue);
  }



  .top-line {
    margin: 15px 0;
    border: 1px solid var(--amber);
    border-radius: 5px;
    width: 100%;
    max-width: 120px;
  }

  #line2 {
    border-color: var(--anti-white);
  }

  .para {
    font-family: 'Noto Sans Hebrew', Sans-serif;
    direction: rtl;
    color: var(--anti-white);
    font-size: 1.25rem;
    font-weight: 500;
    word-spacing: 0.05rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }

  #weInvite {
    color: var(--anti-white);
  }

  #thisIs {
    margin-top: 10px;
    color: var(--black);
  }

  #doYou {
    margin-top: 5px;
    color: var(--black);
  }
  .contact {
    margin-top: 20px;
  }
  .contact button {
    color: var(--anti-white);
    font-family: 'Noto Sans Hebrew', Sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: var(--conq);
    border-radius: 36px;
    padding: 7px 20px;
  }
  .contact button:hover {
    transition: linear 0.3s;
    background-color: var(--light-conq);
  }


  .newParks-div {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans Hebrew', Sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 30px;
    background-color: var(--anti-white);
  }
  
  .newParks {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  .newParksTitle {
    margin: 0;
    color: var(--blue);
    font-weight: 700;
  }
  
  .viewMore {
    margin: 0;
    text-align: right;
    cursor: pointer;
    color: var(--blue);
    background-color: var(--amber);
    padding: 2.5px 15px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.15rem;
  }

  .viewMore:hover {
    background-color: var(--light-amber);
  }
  

   /*     First Container Media Queries      */
   @media only screen and (max-width: 1440px) {
    .top-container, .bottom-container {
      height: 700px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .top-container, .bottom-container {
      width: 500px;
    height: 550px;
   }
   #contain2 {
    width: 520px;
    height: 370px;
  }
  
  #contain3 {
    width: 520px;
    height: 370px;
  }

   .topEnboss {
    width: 375px;
    margin-bottom: 30px;
  }

  .heading {
    font-weight: 900;
    font-size: 4rem;
    line-height: 3.5rem;
  }

  #heading2 {
    font-size: 3.5rem;
  }
  
  #headCount {
    font-size: 4rem;
    line-height: 2rem;
    margin-bottom: 15px;
  }

  #heading3 {
    font-size: 3.5rem;
    line-height: 2rem;
    margin-bottom: 15px;
  }

  .top-line {
    width: 120px;
  }

  .para {
    font-size: 1.15rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.3rem;
    width: 500px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 375px; 
    }
  }
  }

  @media only screen and (max-width: 767px) {  
    .top-container, .bottom-container {
      width: 350px;
    height: 550px;
   }

   #contain2 {
    width:445px;
   }
   .topEnboss {
    margin-bottom: 10px;
    width: 250px;
  }

  .heading {
    font-weight: 900;
    font-size: 3rem;
    line-height: 2.7rem;
    letter-spacing: 0.05rem;
  }

  #heading2 {
    font-size: 3rem;
  }

  #headCount {
    font-size: 3.3rem;
  }


  .top-line {
    margin: 15px 0;
    width: 90px;
  }

  .para {
    font-size: 1.15rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
    width: 320px;
  }

  #weInvite {
    line-height: 1.3rem;
  }

  .contact button {
    margin-top: -2.5px;
    font-size: 1rem;
    padding: 5px 15px;
  }

  .contact {
    margin-top: 15px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 300px; 
    }
  }
}
  @media only screen and (max-width: 500px) {
  #contain1 button{
    font-size: 1rem;
    padding: 7px 20px;
  }

    #contain2 {
      width: 350px;
      height: 400px;
    }

  #contain3 {
    width: 346px;
    height: 370px;
  }

  #heading2{
    font-size: 2.5rem;
    line-height: 2rem;
  }
  
  #heading3 {
    font-size: 2.6rem;
    line-height: 2.5rem;
    font-weight: 900;
    margin-bottom: -2.5px;
  }

  .contact button {
    margin-top: -5px;
    padding: 5px 14px;
  }

  .para {
    font-size: 1.125rem;
  }
}

  @media only screen and (max-width: 350px) {  
    .top-container, .bottom-container {
      width: 265px;
    height: 480px;
   }

   #secondCon {
    height: 400px;
    padding: 20px 0;
   }
   #contain2 {
    width: 270px;
    height: 370px;
  }
  
  #contain3 {
    width: 280px;
  }

   .topEnboss {
    margin-bottom: 10px;
    width: 250px;
  }

  .heading {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
  }

  #heading2 {
    font-size: 2.5rem;
    line-height: 2.2rem;
    margin-bottom: 15px;
  }

  #headCount {
    font-size: 2.5rem;
    margin-bottom: 0px;
    letter-spacing: 0.01rem;
  }


  #heading3 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .top-line {
    margin: 10px 0;
    width: 70px;
  }

  .para {
    font-size: 1rem;
    word-spacing: 0.2rem;
    letter-spacing: 0rem;
    line-height: 1.4rem;
    width: 260px;
  }

  .contact button {
    font-size: 0.9rem;
    padding: 4px 12px;
  }

  .contact {
    margin-top: 10px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
      opacity: 0; 
      width: 25%;
    }
    50% {
      transform: translateY(-20px);
       opacity: 1; 
      }
    100% { 
      transform: translateY(0);
      opacity: 1;
      width: 250px; 
    }
  }
}


/* Custom Scroll Bar */

::-webkit-scrollbar {
  height: 7px;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
 }


 ::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 76%);
  border-radius: 15px;
  opacity: 0.5 ;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 66%);
}
/* image scroll section */

.text1 {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: var(--anti-white);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  z-index: 200;
}

.image-scroll {
  background-color: var(--anti-white);
  height: 650px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  margin-top: -50px;
}

.scroll-parent {
  display: flex;
  align-items: center;
  width: 80%;
  overflow-x: scroll;
  padding: 1rem 20px;
  margin-left: -10vw;
  margin-right: -10vw;
  transition: all .3s ease;
  gap: 2rem;
}

.scroll-parent:hover {
  cursor: grab;
}

.scroll-parent.active {
  scale: .98;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(125%);
  transition: all .3s ease; 
  position: relative;
}

.images:hover {
  filter: saturate(200%);
  transition: linear 0.3s;
}

.images img {
  max-height: 500px;
  border-radius: 20px;
  box-shadow: var(--img-shadow);
}

@media only screen and (max-width: 600px) {
  .images img {
      max-height: 250px;
      filter: saturate(135%);
  }
  .images:hover {
    filter: saturate(135%);
  }

  .text1 {
    font-size: 2rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    line-height: 2rem;
    text-align: center;
  }

  .image-scroll {
    height: 425px;
  }

  .center {
    height: 400px;
    margin-top: -35px;
  }

  .newParks-div {
    font-size: 1.2rem;
    padding-top: 20px;
  }
  
  .newParks {
    padding: 0 20px;
  }
  
  .viewMore {
    padding: 3px 8px;
    font-size: 1rem;

  }
}

@media only screen and (max-width: 950px){
  .scroll-parent {
    width: 100%;
    margin-left: -10vw;
    margin-right: -10vw;
    padding: 1rem 5px;
    gap: 20px;
    }
}


  /*       End of English Home CSS */


