/* hebrew-contact.css */

body {
  background: var(--white-400);
  margin: 0px;
  font-family: 'Poppins',sans-serif !important;
    background-repeat: repeat;
  background-size: 17.5%;  
  background-image: url('/svg/EnbossWallpaper0.075.png');
  background-attachment: fixed;
  overflow-x: hidden;
}

body.dark {
background-color: var(--black-450);
  background-image: url('/svg/EnbossWallpaperLight.1.png');

}

.container-con {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
  backdrop-filter:blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);

}
  


@media only screen and (max-width: 1440px){
  .dark body, body{
    background-size: 25%;  
  }
  }
  
  @media only screen and (max-width: 1024px){
  .dark body, body{
    background-size: 35%;  
  }
  }
  
  @media only screen and (max-width: 768px){
  .dark body, body{
    background-size: 45%;  
  }
  }
  
  @media only screen and (max-width: 480px){
  .dark body, body{
    background-size: 60%;  
  }
  }
  
  @media only screen and (max-width: 480px){
  .dark.container-con, .container-con{
    background-size: 100%;  
  }
  }


form {
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    margin: 0 auto 50px;
    font-family: 'Public Sans', sans-serif !important;
}

.container-con svg{
    width: 150px;
  fill: var(--orange-500);
    margin: 10px auto 0;
}

.container-con h3 {
  color: var(--blue-200);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}
.container-con p {
  color: var(--blue-100);
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5rem;
    word-wrap: break-word;

}

@media (max-width: 350px) {
.container-con p {
    text-align: right;
  padding: 0 30px;
  width: 300px;
  }
}


.container-con p a {
  color: var(--blue-500);
  font-size: 1.4rem;
  line-height: 1rem;
  border: 0;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  width: 100px;
  border-radius: 30px;
}

.container-con p a:hover {
      transition: color .3s ease-in-out;
      color: var(--blue-700);
  }

.parag {
    margin-bottom: 20px;

}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: var(--white-400);
    font-size: 1.15rem;
    border-radius: 15px;
    color: var(--black-100);
    direction: rtl;
  caret-color: auto;
}

form ::placeholder {
  color: var(--white-200);
}

form:focus ::placeholder {
  color: var(--white-200);
}

form button {
    padding: 5px;
    background: var(--blue-500);
    color: var(--white-400);
    font-size: 1.25rem;
    border: 0;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
}

form button:hover {
  background: var(--blue-600);
  color: var(--white-400);
    transition: linear .3s;
}

@media only screen and (max-width: 480px) {
    .container-con p {
        font-size: 1.1rem;
        line-height: 1.2 rem;
    }

    .container-con .parag {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    
    .container-con p a {
        font-size: 1rem;
        border: 0;
        font-weight: 700;
        outline: none;
        cursor: pointer;
        width: 100px;
        border-radius: 30px;
    }
}