

/*       Footer CSS     */
footer {
    display: block;
    direction: rtl;

}
.footer-main {
    background-color: var(--violet-300);
    position: relative;
    width: 100vw;
    height: 100%;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
}


#enbossLogo {
    width: 100%;
    max-width: 180px;
    height: 50px;
    fill: var(--light-yellow);
    margin-bottom: 20px;
}

.logo #enbossLogo:hover{
    fill: var(--light-yellow);
    transition: all .3s ease-in-out;
}

.logo {
    width: 100%;
    max-width: 300px;
    font-size: 1.05rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.logo-des {
    color: var(--new-grey);
    line-height: 1.25rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
    margin-top: -5px;
    transition: color .3s ease-in-out;
}
.logo a {
    text-decoration: none;
    color: var(--violet-600);
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.logo a:hover {
    color: var(--violet-500);
    font-weight: 700;
}

.social-icons {
    direction: ltr;
    display: flex;
    align-items: center;
    max-width: 220px;
    width: 100%;
    margin-top: 21px;
    gap: 15px;
}
.back-Icon {
    fill: hsla(44, 100%, 68%, .1);
}
.front-Icon {
    fill: hsla(44, 100%, 68%, .7);
}
.back-Icon:hover {
    fill: hsla(44, 100%, 68%, .2);
}
.front-Icon:hover {
    fill: hsla(44, 100%, 68%, 1);
}

#skatepark1 {
    padding-top: 75px;
}

#skatepark2 {
    padding-top: 75px;
}
.row h3 {
    font-weight: 700;
    margin: 25px 0 20px;
    color: var(--white);
    transition: all .3s ease-in-out;
}

.skateparks-des a {
    color: var(--new-grey);
    line-height: 1.3rem;
}

.main-foot h3:hover {
    color: var(--violet-500);
}


.main-foot {
    padding-top: 20px;
    padding-bottom: 50px;
    max-width: 1200px;
    max-height: 550px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.footer-header{
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.skateparks-des {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skateparks-des a{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.3rem;
    transition: all .15s ease-in-out;
}

.skateparks-des a:hover{
    color: var(--violet-500);
}


#link-all {
    color: var(--white);
    font-weight: 800;
}


.foot{
    width: 20%;
    margin: 2px auto;
    opacity: 0.4;
    border: 0.5px solid var(--anti-white);
}





@media (max-width: 960px) {
    footer {
        width: 100%;
        top: 120px;
    }

    .main-foot {
        margin: 5px;
        margin-top: 30px;    }

    .logo{
        grid-column: 1/2;
    }
 
    #skatepark {
        grid-column: 1/3;
    }
    #skatepark1 {
        grid-column: 2/3;
    }

    #skatepark2 {
        grid-column: 3/3;
    }
    
    
}

@media (max-width: 850px) {
    
#skatepark2 {
    display: none;
}
}



@media (max-width: 660px) {
    .main-foot {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .skateparks {
        display: none;
    }
    .logo a {
        fill: var(--green);
    }

    .logo {
        margin-top: 0;
    }
}
.copyright {
    max-width: 100%;
    background-color: var(--anti-white);
}

.copyright p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 15px 0;
    color: var(--white);
    text-align: center;
    background-color: var(--violet-200);
    transition: all .3s ease-in-out;
}

@media only screen and (max-width: 660px) {
    .copyright p{
        padding: 15px 0;
    }
}

#rishon {
    margin-top: 10px;
}

/*            End of Footer CSS            */



.dark #copyright {
    background-color: var(--light-violet);
  }

.dark #copyright p{
    color: var(--white);
    background-color: var(--violet-0);
  }


  .main-foot {
    transition: all 0.3s ease-in-out;

  }